@font-face {
  font-family: 'Geologica';
  src: 
    local('Geologica-Bold'), 
    local('Geologica Bold'),
    url('Geologica-Bold.woff') format('woff'), 
    url('Geologica-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
