@import './../../public/fonts/stylesheet.css';
@import './base.css';

#app {
  max-inline-size: 1440px;
  margin-inline: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100%;
  row-gap: 93px;
  align-items: center;
}

@media (width < 768px) {
  #app {
    row-gap: auto;
  }
}
